.wrapperInfoSource {
  display: flex;
  width: 500px;
  gap: 8px;
  margin-bottom: 10px;
}

.withAu {
  justify-content: space-between;
}

.withoutAu {
  justify-content: flex-start;
}

.fav {
  margin: 0px 5px 2px 0px;
  height: 17px;
  width: 17px;
  background-color: grey;
}

.icon {
  width: 14px;
  margin-right: 2px;
}

.cntr,
.lang,
.au {
  display: flex;
  text-align: center;
  color: #979696;
}


@media (max-width: 670px) {
  .wrapperInfoSource {
    width: auto;
    flex-wrap: wrap;
  }

  .withAu {
    justify-content: flex-start;
  }
}