.wrapperCard {
  background: linear-gradient(to bottom right, #20385f 7%, #011117 93%);
  border-radius: 20px;
}

.card {
  padding: 35px;
  background: inherit;
  border: 2px solid rgba(163, 161, 161, 0.7);
  border-radius: 11px;
}

.wrapperDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperSent {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapperDuplicates {
  padding: 20px;
  height: 130px;
  margin-top: 10px;
  border: 2px solid blue;
  border-radius: 11px;
}

.sentNews {
  width: 100px;
  text-align: center;
  background-color: rgb(134, 239, 150);
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.iconDuplicates {
  width: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerDuplicates {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}