* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 20px;
  background: linear-gradient(to bottom right, #1e417a 10%, #0d4c68 90%);
  border-radius: 20px;
}

.collapseHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: blue;
}