@import '../../styles/reset.css';

.wrapperCard {
  margin: 20px;
  background: linear-gradient(to bottom right, #20385f 7%, #011117 93%);
  border-radius: 20px;
}

.card {
  padding: 35px;
  background: inherit;
  border: 2px solid rgba(163, 161, 161, 0.7);
  border-radius: 11px;
}

.timeTraffic {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapseHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* .collapseHeader .link {
  color: red;
} */

.iconLink {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  margin-bottom: 8px;
  height: 20px;
  width: 20px;
  background-color: grey;
}

.link {
  display: block;
  margin-bottom: 8px;
  text-decoration-line: underline;
  color: blue;
}