.wrapperTags {
  width: auto;
  margin: 15px 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
}

.tag {
  margin-bottom: 7px;
  color: #808080;
  background-color: inherit;
  border-radius: 11px;
}

.inherit {
  background-color: inherit;
}


@media (max-width: 1192px) {
  .wrapperTags {
    flex-wrap: wrap;
  }
}